$clair:#659E36;
$fonce:#285502;
$vert: rgb(187, 229, 153  );

body,html{
  width: 100%;
  overflow-x: hidden;
}
img{
  width: 100%;
  height: 100%;
}

// BEGIN

// HEADER
body{
  #header{
    position: fixed ;
    z-index: 3;
    width: 100%;
    .navbar-brand{
      font-weight: bold;
      font-size: 26px;
    }
    .desktop{
      .navbar{
        background-color: $vert;
      }
      a{
        width: 60%;
      }
      .nav{
        width: 40px;
      }
    }
    .phone{
      .navbar{
        background-color: $vert;
        padding-bottom: 10px;
        padding: 0 ;
        ul{
          padding-left: 30px;
        }
      }
    }
  }
  // Home pictures
  .homepic{
    padding-top: 2vh;
    position: relative;
    width: 100vw;
    margin: 0;
    h1{
      position: absolute;
      margin-left: 50%;
      left: -20vw;
      top: 60%;
      font-weight: bold;
      color: white;
      font-size: 8vw;
      text-shadow: 0 0 3px grey;
      line-height: 0.3em;
      span{
        font-size: 2.5vw;
      }
    }
  }

  #main{
    padding-top: 80px;
    #myCarousel{
      padding: 0;
      div{
        text-shadow: 0px 0px 6px black ;
        h3{
          font-size: 30px;
        }
      }
    }
    .presentation{
      .card-footer{
        background-color: $clair !important;
      }
      h4{
        text-align: center;
      }
      blockquote{
        margin-top: 30px;
        box-shadow: 0 0 7px 0 #ededed;
        line-height: 1.8em;
        font-size: 24px;
      }
    }
  }
}

#footer{
  margin-top: 50px;
  padding-top: 50px;
  position: relative;
  background-color: #d8d8d8;
  padding-bottom: 80px;
  h2{
    color: black;
    font-weight: bold;
  }
  .cardcoach{
    height: 190px;
    width: 190px;
    .coach{
      img{
        border-radius: 50%;

      }
    }
  }
}


// CONTACT PAGE ///////////////////--/////////---///////--/////--///-//-/-
#main{
  .form{
    .well-block {
        background-color: #fff;
        border: 1px solid #e9e6e8;
        padding: 40px;
    }

    .well-title {
        margin-bottom: 40px;
    }
  }
}

// TARIFS PAGE ///////////////////--/////////---///////--/////--///-//-/-
.calendrier{
  margin-top: 50px;

  #calendar{
    td{
      text-align: center;
      border: 1px solid #000;
    }
  }
}
